/*
* @Author: Stup.C.R.O.U
* @Date:   2017-11-15 21:31:40
* @Last Modified by:   LolitaG
* @Last Modified time: 2017-11-16 03:05:12
*/
.social{
	animation-name: apparition;
	animation-duration: 1s;
	animation-delay: 4s;
	margin-top: 20px;
	animation-fill-mode: forwards;
	opacity: 0;
	
	.social__item{
		display: inline-block;
		margin: 0 5px;
		font-size: 40px;
		color: #fff;
		line-height: 45px;
		text-align: center;
		text-decoration: none;
		opacity: 0.8;
		transform: scale(1);
		transition: all 0.5s;
		&:hover{
			opacity: 1;
			transform: scale(1.2);
		}
	}
}

@keyframes apparition {
	0%{ opacity: 0; }
	100%{ opacity: 0.8; }
}