// _c-social.scss
.social{
	animation-name: apparition;
	animation-duration: 1s;
	animation-delay: 4.3s;
	margin: 0;
	animation-fill-mode: forwards;
	opacity: 0;
	@include respond-to('small'){
      margin: 20px 0;
    }
}
@keyframes apparition {
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}

