// _c-scroll.scss

.scroll {
  animation-name: apparition--full;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  opacity: 0;
  height: 60px;

  .presentation & {
    @include respond-to('medium'){
      bottom: 80px;
    }
    position: absolute;
    bottom: 180px;
  }

  &__anim {
    width: 2px;
    height: 40px;
    margin: auto;
    background: white;
    opacity: 0.5;
    animation: scroll 3s infinite linear;
  }

  p {
    @include font-size(10px);
    font-family: font('primary');
    text-transform: uppercase;
    color: white;
  }
}

@keyframes scroll {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 40px;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
 

} 

@keyframes apparition--full {
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}