// _c-title.scss

.title {
  font-family: font('tertiary');
  @include font-size(40px);
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding-bottom: 5px;
  border-bottom: 2px solid color('foreground');
  font-weight: 400;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 65%;
    height: 80px;
    background: url(../img/mid.png) no-repeat left center /cover;

  }

}

.projects__title{
  font-family: font('tertiary');
  @include font-size(40px);
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;

  width: 282px;
  padding: 60px 0 10px;  
  margin: 0 auto;

  .project__title__text{
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 80px;
    background: url(../img/mid-reverse.png) no-repeat center top /cover;
    z-index: 0;

  }
}