// _c-text.scss
.text{
  font-family: font('primary');
  letter-spacing: 0.1px;
  line-height: 140%;
  @include respond-to('small'){
    @include font-size(14px);
  }
  @include respond-to('medium'){
    @include font-size(15px);
  }
  @include respond-to('large'){
  }
  @include respond-to('huge'){
  }
  &--large{
    @include font-size(20px);
    margin: 0;

    @include respond-to('medium'){
      @include font-size(24px);
    }
    @include respond-to('large'){
      @include font-size(20px);
    }
  }

  &--big{
    @include font-size(25px);
    margin: 0 0 10px;

    @include respond-to('medium'){
      @include font-size(30px);
    }
    @include respond-to('large'){
      @include font-size(25px);
    }
  }
  
  .bold{
    font-weight: 600;
  }
  a{
    color: #BD4D61;
    text-decoration:none;
    &:hover{
      text-decoration: underline;
    }
  }
}