// _c-title.scss

.title {
  font-family: font('tertiary');
  @include font-size(40px);
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding-bottom: 20px;
  border-bottom: 2px solid color('foreground');
  font-weight: 400;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: 0;
    display: block;
    width: 65%;
    height: 80px;
    background: url(../img/mid.png) no-repeat left center /cover;

    .about & {
      top: -35px;
    }
  }

  .about & {
    padding: 0 20px;

    @include respond-to('medium') {
      padding: 0;
    }
  }

  &--center {
    text-align: center;
  }
}
