// _m-about.scss

.about {
  display: flex;
  height: 100vh;
  background: url(../img/bg-bottom.svg) center bottom -50px no-repeat,
  url(../img/4017.jpg) repeat top center /cover;
  background-size: 150%;
  margin-left: 160px;

  &__content {
    @include respond-to('small'){
      padding: 0 40px;
    }
    @include respond-to('medium'){
    }
    @include respond-to('large'){
    }
    @include respond-to('huge'){
      padding: 0;
    }
    max-width: 800px;
    height: 100%;
    margin: -80px auto 0;
    padding: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }

  &__img {
    @include respond-to('small'){
      @include size(200px);
      margin-top: 50px;
      order: 2;
    }

    align-self: center;
    position: relative;  
    
    &:before{
      content: "";
      width: 20px;
      height: 20px;
      background-color: color('foreground');;
      transform: rotate(45deg);
      position: absolute;
      top: -50px;
      left: 80px;
    }
    &:after{
      content: "";
      width: 20px;
      height: 20px;
      background-color: color('foreground');;
      transform: rotate(45deg);
      position: absolute;
      bottom: -30px;
      left: 80px;
      z-index: 0;
    }
    .image-element{
      width: 90%;
      height: 90%;
      transform: rotate(45deg);
      overflow: hidden;
      position: relative;
      border: 1px solid black;
      position: relative;
      z-index: 1;

      &:hover .hidden-hover{
        opacity: 0;
      }
      &:hover .hidden-nohover{
        opacity: 1;
      }
      
      img{
        max-width: initial;
        transform: rotate(-45deg);
        position: absolute;
        transition: all 1s;

        &.hidden-hover{
          opacity: 1;
          width: 270px;
          height: 270px;
          top: -40px;
          left: -40px;
        }
        &.hidden-nohover{
          opacity: 0;
          position: absolute;
          width: auto;
          height: 144%;
          top: -40px;
          left: -40px;
        }

      }
     
    }
  }

  &__text {
    font-family: font('tertiary');
    @include font-size(18px);
    letter-spacing: 0.2px;
    line-height: 140%;

    &--large{
      @include font-size(24px);
      margin: 0;
    }

    &--big{
      @include font-size(30px);
      margin: 0 0 15px;
    }
    
    .bold{
      font-weight: 600;
    }
    a{
      color: #BD4D61;
      text-decoration:none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}