// _m-projects.scss

.projects {
  height: 100vh;
  background: url(../img/4017.jpg) no-repeat top center /cover, ;
  display: flex;
  align-items: center;

  &__inside{
    max-width: 800px;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
  }

  .round{
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    li{
      width: 220px;
      height: 220px;
      list-style-type: none;
      display: inline-block;
      margin: 20px 10px;
    }
    &__item{
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: relative;
      box-shadow: 0 1px 2px rgba(0,0,0,0.1);
      cursor: default;
      &:hover{
        .round__info{
          -webkit-transform: rotate3d(0,1,0,-180deg);
          -moz-transform: rotate3d(0,1,0,-180deg);
          -o-transform: rotate3d(0,1,0,-180deg);
          -ms-transform: rotate3d(0,1,0,-180deg);
          transform: rotate3d(0,1,0,-180deg);
        }
        .round__info-wrap{
          box-shadow:
            0 0 0 0 rgba(255,255,255,0.8), 
            inset 0 0 3px rgba(115,114, 23, 0.8);
        }
      }
    }
    &__info-wrap{
      position: absolute;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      -webkit-perspective: 800px;
      -moz-perspective: 800px;
      -o-perspective: 800px;
      -ms-perspective: 800px;
      perspective: 800px;

      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;

      top: 20px;
      left: 20px;
      background: rgba(255, 255, 255, 0.9);
      box-shadow: 
        0 0 0 20px rgba(255,255,255,0.1), 
        inset 0 0 3px rgba(115,114, 23, 0.8)
    }
    &__info{
      position: absolute;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      text-align: center;

      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
        
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
      & > div{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-position: center center;

        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      h3{
        font-family: font('tertiary');
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0 15px;
        padding: 35px 0 0 0;
        a{
          text-decoration: none;
          color: black;
          transition: 0.3s;
          &:hover{
            color: #BD4D61;
          }
        }
      }
      h4{
        font-family: font('tertiary');
        letter-spacing: 2px;
        font-size: 16px;
        font-weight: 400;
        margin: 5px 0 5px 0;
      }
      p{
        color: #000;
        padding: 10px 5px;
        margin: 0 20px;
        font-size: 12px;
        border-top: 1px solid rgba(0,0,0,1);
        a{
          display: block;
          color: black;
          font-style: normal;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 9px;
          letter-spacing: 1px;
          padding-top: 4px;
          font-family: 'Open Sans Condensed', Arial, sans-serif;
          transition: 0.3s;
          &:hover{
            color: #BD4D61;
          }
        }
      }
    }
    &__info-back{
      -webkit-transform: rotate3d(0,1,0,180deg);
      -moz-transform: rotate3d(0,1,0,180deg);
      -o-transform: rotate3d(0,1,0,180deg);
      -ms-transform: rotate3d(0,1,0,180deg);
      transform: rotate3d(0,1,0,180deg);
      
      background: rgba(255, 255, 255, 0.3);
    }

    &__img-1{
      background: #F5F5F5 url(../img/chibi.png) no-repeat center;
    }
    &__img-2{
      background: white url(../img/KT.png) no-repeat center;
    }
    &__img-3{
      background: #107B89 url(../img/villagemap.png) no-repeat center;
    }
    &__img-4{
      background:#FFFFFF url(../img/riodelvin.png) no-repeat center;
    }
    &__img-5{
      background:#084376 url(../img/anadore.png) no-repeat center;
    }
    &__img-6{
      background:#FFFFFF url(../img/curieusesexpositions.png) no-repeat center;
    }
  }



  // &__item {
  //   width: 33%;
  //   padding: 30px 0;
  // }

  // &__img {
  //   display: block;
  //   width: 200px;
  //   height: 200px;
  //   margin: auto;
  //   border-radius: 50%;
  // }
}