// _m-projects.scss

.projects {
  background: url(../img/4017.jpg) repeat top center;
  background-size: 300%;
  display: flex;
  align-items: center;
  margin-left: 0;
  height: auto;
  padding: 40px 10px;
  position: relative;
  
  @include respond-to('small'){
    background-size: 300%;
    height: auto;
    align-items: flex-start;
    margin-left: 0;
    padding: 40px 10px;
  }
  @include respond-to('medium'){
    background-size: 150%;
    height: auto;
    align-items: flex-start;
    margin-left: 160px;
  }
  @include respond-to('large'){
    height: 100vh;
    align-items: center;
  }
  @include respond-to('huge'){
    margin-left: 200px;
  }

  &__inside{
    margin: 0 auto;
    @include respond-to('small'){
      margin: 0 auto;
    }
    @include respond-to('medium'){
      margin: -20px auto 0;
    }
    @include respond-to('large'){
    }
    @include respond-to('huge'){
    }
    
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }
}
