// _m-shuffle.scss

.shuffle {
  position: relative;

  &__slash {
    position: absolute;
    top: 0;
    right: -24px;
    display: none;
    color: #AC0E20;
    animation-name: clignotement;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
  }
}

@keyframes clignotement{
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}
