// _l-grid.scss
//mes grilles de losanges

.grid{
	display: flex;
	flex-flow: column wrap;
	@include respond-to('small'){
		padding: 40px 40px 0;
    }
    @include respond-to('medium'){
		padding: 40px 40px 0;
    }
	&__inside{
	  display: flex;
	  flex-flow: row wrap;
	  justify-content: center;
		@include respond-to('small'){
			justify-content: flex-start;
	    }
	    @include respond-to('medium'){
			justify-content: flex-start;
	    }
	    @include respond-to('large'){
			justify-content: center;
	    }
	    @include respond-to('huge'){
	    	justify-content: center;
	    }
	  	&--three-items{
	  		@include respond-to('small'){
				order: 3;
		    }
		    @include respond-to('medium'){
				order: 3;
		    }
		    @include respond-to('large'){
				order: 3;
		    }
		    @include respond-to('huge'){
		    	order: 0;
		    }
	  	}
	}
}